@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'Zilla Slab', serif;
  --color-secondary-50: var(--color-amber-50);
  --color-secondary-100: var(--color-amber-100);
  --color-secondary-200: var(--color-amber-200);
  --color-secondary-300: var(--color-amber-300);
  --color-secondary-400: var(--color-amber-400);
  --color-secondary-500: var(--color-amber-500);
  --color-secondary-600: var(--color-amber-600);
  --color-secondary-700: var(--color-amber-700);
  --color-secondary-800: var(--color-amber-800);
  --color-secondary-900: var(--color-amber-900);

  --color-primary-50: var(--color-rose-50);
  --color-primary-100: var(--color-rose-100);
  --color-primary-200: var(--color-rose-200);
  --color-primary-300: var(--color-rose-300);
  --color-primary-400: var(--color-rose-400);
  --color-primary-500: var(--color-rose-500);
  --color-primary-600: var(--color-rose-600);
  --color-primary-700: var(--color-rose-700);
  --color-primary-800: var(--color-rose-800);
  --color-primary-900: var(--color-rose-900);
}

@utility button {
  @apply rounded-lg inline-block font-semibold p-2 pb-2.5 bg-mauve-900;
  @apply transition-all duration-100;
  @apply hover:border-dashed border-primary-500 border-2 text-primary-500;
  @apply border-solid;
}

@layer base {
  html,
  body {
    @apply bg-mauve-900 text-neutral-200;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-light;
    @apply font-serif;
  }

  h1 {
    @apply font-semibold;
    @apply mb-4 sm:text-4xl text-3xl text-center;
  }

  h2 {
    @apply mb-3 sm:text-3xl text-2xl text-center;
    @apply font-light;
  }

  h3 {
    @apply mb-1 sm:text-2xl text-xl;
  }
  .button-primary {
    @apply button;
  }

  .button-secondary {
    @apply button;
    @apply border-secondary-500 border-2 text-secondary-500;
  }

  .text-content {
    @apply max-w-300 m-0 mx-auto;
  }

  p {
    @apply mb-2;
  }

  .content-box {
    @apply max-w-246 mx-auto px-4;
  }

  p a {
    @apply text-primary-500 hover:text-primary-300 active:text-primary-700 transition-colors duration-100;
    @apply underline;
  }

  li ul li {
    @apply ml-4;
  }

  .inline-size {
    container-type: size;
  }
}
